<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href='./image/2.jpg'>
    <link rel="stylesheet" href='./css/styles.css'>  
</head>

<body>
    <div class="main-content">
         {{>header}}
         <p>This is created by keval thakarar</p>
        <img class = "port" src = '/image/1.jpg'>
    </div>

    {{>footer}}
</body>

</html>